<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- Railway Postgres (Public Network) -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">
      jdbc:postgresql://trolley.proxy.rlwy.net:30862/railway?sslmode=require
    </property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">nuMTJvXcrxNwkgylGuQqhMRqfUljeMqS</property>

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Tus entidades -->
    <mapping class="org.modelo.Usuario"/>

  </session-factory>
</hibernate-configuration>
